*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}



.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}


.nav__container{
    width:100%;
/* height: 70px; */
background: #FFFFFF;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav__container> img{
    padding: 22px 30px;
}

.gallery__container{
    width: 395px;
    /* height: 232px; */
    /* padding-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.gallery__img__container{
    padding: 0;
}


.img__container{
    padding: 20px 30px 10px 30px;
    
}
.img__container>img{
    width: 150px;
    height: auto;
}

.img__container2>img{
    width: 150px;
    height: auto;
}
.img__container3>img{
    width: 150px;
    height: auto;
}

.img__container4>img{
    width: 150px;
    height: auto;
}

.img__container5>img{
    width: 150px;
    height: auto;
}

.img__container3{
    padding: 100px 30px 10px 30px;
}

.img__container5{
    padding: 100px 30px 20px 30px;
}
/* hero styling */

.text__container{
padding: 36px;
}

.hero__title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 110%;
}

.hero__paragraph{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 110%;
padding-top: 16px;
}

/* card */
.cards__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding-left: 36px;
   padding-bottom: 30px;
}
.card {
    width: 175px;
    font-size: 12px;
   
}

.card--image {
    width: 100%;
    height:235px ;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}